<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="burgerNS">
	
	<select id="selectBurger" parameterType="string" resultType="Burger">
		SELECT * 
		  FROM products a
        WHERE a.menu_name = #{value}
	</select>

	<select id="selectBurgerTotalCount" parameterType="map" resultType="Burger">
		SELECT count(1) as total_count
		      FROM chain_store a
	INNER JOIN products b
	        ON a.chain_no = b.chain_no
	       AND b.display_yn = 'Y'
		<if test="brandList != '' ">
		   AND a.chain_name = #{brandList}
		</if>
		<if test="priceSelect != '' ">
		   AND b.single_price BETWEEN #{priceSt} AND #{priceEnd}
		</if>
		<if test="calorySelect != '' ">
		   AND b.calory BETWEEN #{calSt} AND #{calEnd}
		</if>
	</select>
	
	<select id="selectBurgerList" parameterType="map" resultType="Burger">
	    SELECT a.chain_name
		         , b.menu_name
		         , b.single_price
		         , b.set_price
		         , b.calory
		         , b.img_url
		      FROM chain_store a
	INNER JOIN products b
	        ON a.chain_no = b.chain_no
	       AND b.display_yn = 'Y'
		<if test="brandList != '' ">
		   AND a.chain_name = #{brandList}
		</if>
		<if test="priceSelect != '' ">
		   AND b.single_price BETWEEN #{priceSt} AND #{priceEnd}
		</if>
		<if test="calorySelect != '' ">
		   AND b.calory BETWEEN #{calSt} AND #{calEnd}
		</if>
		LIMIT #{startPage}, 6
	</select>

	<select id="selectDivisionList" resultType="Division">
	SELECT a.item
			  , a.contents
	  FROM division a
	</select>



</mapper>
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 